<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/css/product.css">
</head>

<body>
  <header class="main-header">
    <%- include('../partials/navigation.ejs') %>
  </header>

  <main>

    <% if (prods.length > 0) { %>
      <h1>My Products</h1>
      <p>List of all the products...</p>
      <div class="grid">
        <% prods.map(item=> { %>
          <article class="card product-item">
            <header class="card__header">
              <h1 class="product__title">
                <%= item.title %>
              </h1>
            </header>
            <div class="card__image">
              <img src="https://cdn.pixabay.com/photo/2016/03/31/20/51/book-1296045_960_720.png" alt="A Book">
            </div>
            <div class="card__content">
              <h2 class="product__price">$19.99</h2>
              <p class="product__description">100 uninteresting things that sound even more interesting when you read!</p>
            </div>
            <div class="card__actions">
              <button class="btn">Add to Cart</button>
            </div>
          </article>
          <% }) %>
      </div>
      <% } else { %>
        <p>No Products Found</p>
      <% } %>
  </main>
</body>

</html>